.sheet-scrim {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 990;
  background-color: rgba(0, 0, 0, 0.38);
}

.sheet {
  background-color: light-dark(rgb(var(--surface)), rgb(var(--surface-dark)));
  border-top-left-radius: 28px;
  border-top-right-radius: 28px;
  z-index: 999;
  position: fixed;
  bottom: -100%;
  left: 0;
  right: 0;
  max-width: 640px;
  margin-inline: auto;
  padding: 22px 20px 0 20px;
  transition: all var(--slow-effects);
}

.sheet.visible {
  bottom: 0;
}
